{% trans_default_domain 'expertise' %}

{% extends 'ExpertiseBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.staff.create.title"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('puzzle_admin_expertise_staff_list') }} ">
       {{ 'expertise.staff.list.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "expertise.staff.create.title"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'ExpertiseBundle:Admin:form_staff.html.twig' with {'form': form} %}
    </div>
{% endblock %}
