{% trans_default_domain 'expertise' %}

{{ form_start(form) }}
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-7-10 uk-width-large-7-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-width-large-1-1">
                        <div class="uk-form-row">
                            {{ form_label(form.name, 'expertise.partner.form.name'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.name, {'attr': {'class': 'md-input'}}) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.location, 'expertise.partner.form.location'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.location, {'attr': {'class': 'md-input'}}) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.tags, 'expertise.partner.form.tags'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {% if partner is defined and partner.tags is not empty %}
                                {{ form_widget(form.tags, {'attr': {'data-role' : 'materialtags'}, 'value': partner.tags|join(',')}) }}
                            {% else %}
                                {{ form_widget(form.tags, {'attr': {'data-role' : 'materialtags'}}) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-xLarge-3-10 uk-width-large-3-10">
            {{ render(controller('MediaBundle:Admin:embedFile', {'formData': form.picture, 'data': partner is defined ? partner.picture : null, 'type': 'picture', 'context': 'expertise/partner', 'multiple': false })) }}
        </div>
    </div>
    <div class="uk-text-left uk-margin-top">
        <a class="md-btn md-btn-default" href="{{ partner is defined ? url('puzzle_admin_expertise_partner_show', {'id': partner.id}) : url('puzzle_admin_expertise_partner_list') }}">
            {{ 'expertise.partner.form.back'|trans }}
        </a>
        <button class="md-btn md-btn-success" type="submit">
            {{ partner is defined ? 'expertise.partner.form.update'|trans : 'expertise.partner.form.create'|trans }}
        </button>
    </div>
{{ form_end(form) }}
