{% trans_default_domain 'expertise' %}

{% extends 'ExpertiseBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'expertise.testimonial.list.title'|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('puzzle_admin_expertise_testimonial_create') }}">
        <span class="uk-text-bold">{{ 'expertise.testimonial.list.new'|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "expertise.testimonial.list.title"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        <div class="uk-width-1-1">
            <div class="md-card">
                <div class="md-card-content">
                    <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="no-sort">
                                    {% if testimonials is not empty %}
                                        <div class="toggle-action uk-hidden">
                                            <select class="grouped-actions">
                                                <option value="">{{ 'expertise.testimonial.list.grouped_actions'|trans }}</option>
                                                <option value="delete">{{ 'expertise.testimonial.list.delete'|trans }}</option>
                                            </select>
                                            <input type="hidden" value="{{ testimonials|length|default('0') }}" id="toggle-items-count">
                                            <input type="hidden" value="0" id="toggle-items-checked-count">
                                        </div>
                                    {% endif %}
                                </th>
                                <th>{{ "expertise.testimonial.list.author"|trans }}</th>
                                <th>{{ "expertise.testimonial.list.company"|trans }}</th>
                                <th>{{ "expertise.testimonial.list.position"|trans }}</th>
                                <th class="uk-text-right no-sort">{{ 'expertise.testimonial.list.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for testimonial in testimonials %}
                                <tr class="toggleable" id="item-{{ testimonial.id }}">
                                    <td>
                                        <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                            <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ testimonial.id }}">&#xE835;</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('puzzle_admin_expertise_testimonial_show', { 'id': testimonial.id }) }}">{{ testimonial.author }}</a>
                                    </td>
                                    <td> {{ testimonial.company }}</td>
                                    <td> {{ testimonial.position }}</td>
                                    <td class="uk-text-right">
                                        <div class="uk-button-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
                                            <a><i class="fa fa-ellipsis-h"></i></a>
                                            <div class="uk-dropdown uk-dropdown-small uk-text-left" aria-hidden="true">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                	<li>
                                                        <a href="{{ url('puzzle_admin_expertise_testimonial_show', {'id': testimonial.id}) }}">
                                                            <i class="fa fa-pencil"></i>
                                                            {{ 'expertise.testimonial.list.show'|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ url('puzzle_admin_expertise_testimonial_update', {'id': testimonial.id}) }}">
                                                            <i class="fa fa-pencil"></i>
                                                            {{ 'expertise.testimonial.list.update'|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-route="{{ url('puzzle_admin_expertise_testimonial_delete', {'id': testimonial.id}) }}" data-text="{{ 'expertise.testimonial.delete.description'|trans({'%testimonialAuthor%': testimonial.author }) }}" data-label="{{ testimonial.author }}" class="remove-item">
                                                            <i class="fa fa-trash-o uk-text-danger"></i>
                                                            {{ 'expertise.testimonial.list.delete'|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('body').on('change', '.grouped-actions', function(e){
			e.preventDefault();
			switch($(this).val()){
				case 'delete':
					var modalId = 'delete-list-modal';

					UIkit.modal("#" + modalId).show();
                    console.log($('#' + modalId).find('#delete-list-btn'));
					$('#' + modalId).find('#delete-list-btn').attr('data-delete-item-route', 'puzzle_admin_expertise_testimonial_delete');
				default:
					break;
			}
		});
	</script>
{% endblock %}
