{% trans_default_domain 'expertise' %}

{% extends 'ExpertiseBundle:Admin:layout.html.twig' %}

{% block title %} {{ parent() }} - {{ "expertise.service.show.title"|trans|capitalize }} {{ service.name }} {% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('puzzle_admin_expertise_service_create', {'parent': service.id}) }}">
        <span class="uk-text-bold">{{ "expertise.service.show.new"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('puzzle_admin_expertise_service_list') }} ">
       {{ 'expertise.service.list.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    {% if service.parentNode is not empty %}
    <a href=" {{ url('puzzle_admin_expertise_service_show', { 'id': service.parentNode.id }) }}">
       ...
    </a>
    <i class="fa fa-chevron-right"></i>
    {% endif %}
    <em>{{ "expertise.service.show.title"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
     <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.name'|trans }} : </label>
                            <span>{{ service.name }}</span>
                        </div>

                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.short_description'|trans }} : </label>
                            {% if service.shortDescription is not empty %}
                                <span>{{ service.shortDescription }}</span>
                            {% else %}
                            	<span>{{ 'expertise.service.show.undefined'|trans }}</span>
                            {% endif %}
                        </div>
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.parent'|trans }} : </label>
                            {%  if service.parentNode is not empty %}
                                <span>{{ service.parentNode.name }}</span>
                            {% else %}
                            	<span>{{ 'expertise.service.show.undefined'|trans }}</span>
                            {% endif %}
                        </div>
                    	<div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.picture'|trans }} : </label>
                            {% if service.picture is not empty %}
                                {% set picture = puzzle_media_file(service.picture) %}
                                {% if picture is not empty %}
                                    <a href="{{ url('puzzle_admin_media_file_show', {'id': picture.id}) }}" class="show-modal">{{ 'expertise.service.show.view'|trans }}</a>
                                {% endif %}
                            {% else %}
                            	<span>{{ 'expertise.service.show.undefined'|trans }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.created_by'|trans }} : </label>
                            <span>{{ service.createdBy }}</span>
                        </div>
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.created_at'|trans }} : </label>
                            <span>{{ date_time_ago(service.createdAt) }}</span>
                        </div>
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.updated_by'|trans }} : </label>
                            <span>{{ service.updatedBy }}</span>
                        </div>
                        <div class="uk-margin-bottom">
                            <label class="uk-text-bold">{{ 'expertise.service.show.updated_at'|trans }} : </label>
                            <span>{{ date_time_ago(service.updatedAt) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {%  if service.description is not empty %}
            	<div class="uk-width-1-1">
                    <div class="md-card">
                        <div class="md-card-content">
                            {{ service.description|raw }}
                        </div>
                    </div>
                </div>
			{% endif %}

            {% if childNodes is not empty %}
                <div class="uk-width-1-1 uk-margin-top">
                    <div class="md-card">
                        <div class="md-card-content">
                            <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="no-sort">
                                            {% if childNodes is not empty %}
                                                <div class="toggle-action uk-hidden">
                                                    <select class="grouped-actions">
                                                        <option value="">{{ 'expertise.service.list.grouped_actions'|trans }}</option>
                                                        <option value="delete">{{ 'expertise.service.list.delete'|trans }}</option>
                                                    </select>
                                                    <input type="hidden" value="{{ childNodes|length|default('0') }}" id="toggle-items-count">
                                                    <input type="hidden" value="0" id="toggle-items-checked-count">
                                                </div>
                                            {% endif %}
                                        </th>
                                        <th>{{ 'expertise.service.list.name'|trans }}</th>
                                        <th>{{ 'expertise.service.list.created_at'|trans }}</th>
                                        <th>{{ 'expertise.service.list.updated_at'|trans }}</th>
                                        <th class="no-sort uk-text-right">{{ 'expertise.service.list.actions'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for child in childNodes %}
                                        <tr class="toggleable" id="item-{{ child.id }}">
                                            <td>
                                                <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ child.id }}">&#xE835;</i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ url('puzzle_admin_expertise_service_show', {'id': child.id}) }}">{{ child.name }}</a>
                                            </td>
                                            <td><small>{{ date_time_ago(child.createdAt) }}</small></td>
                                            <td><small>{{ date_time_ago(child.updatedAt) }}</small></td>
                                            <td class="uk-text-right">
                                                <div class="uk-button-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
                                                    <a><i class="fa fa-ellipsis-h"></i></a>
                                                    <div class="uk-dropdown uk-dropdown-small uk-text-left" aria-hidden="true">
                                                        <ul class="uk-nav uk-nav-dropdown">
                                                            <li>
                                                                <a href="{{ url('puzzle_admin_expertise_service_show', {'id': child.id}) }}">
                                                                    <i class="fa fa-eye"></i>
                                                                    {{ 'expertise.service.list.show'|trans }}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ url('puzzle_admin_expertise_service_update', {'id': child.id}) }}">
                                                                    <i class="fa fa-pencil"></i>
                                                                    {{ 'expertise.service.list.update'|trans }}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-route="{{ url('puzzle_admin_expertise_service_delete', {'id': child.id}) }}" data-text="{{ 'expertise.service.delete.description'|trans({'%serviceName%': child.name }) }}" data-label="{{ child.name }}" class="remove-item">
                                                                    <i class="fa fa-trash-o uk-text-danger"></i>
                                                                    {{ 'expertise.service.list.delete'|trans }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="uk-text-center uk-margin-top">
                <a href="{{ url('puzzle_admin_expertise_service_update', { 'id': service.id }) }}" class="md-btn md-btn-primary" id="{{ service.id }}">
                    <i class="fa fa-pencil"></i>
                    {{ "expertise.service.show.update"|trans }}
                </a>
                <a href="#" class="remove-item md-btn md-btn-danger" data-route="{{ url('puzzle_admin_expertise_service_delete', {'id' : service.id}) }}" data-label="{{ service.name }}" data-title="{{ 'expertise.service.delete.title' }}" data-text="{{ 'expertise.service.delete.description'|trans({'%serviceName%': service.name}) }}">
                    <i class="fa fa-trash-o"></i>
                    {{ "expertise.service.show.delete"|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% if childNodes is not empty %}
    	<script>
    		$('body').on('change', '.grouped-actions', function(e){
    			e.preventDefault();
    			switch($(this).val()){
    				case 'delete':
    					var modalId = 'delete-list-modal';

    					UIkit.modal("#" + modalId).show();
                        console.log($('#' + modalId).find('#delete-list-btn'));
    					$('#' + modalId).find('#delete-list-btn').attr('data-delete-item-route', 'puzzle_admin_expertise_service_delete');
    				default:
    					break;
    			}
    		});
    	</script>
    {% endif %}
{% endblock %}
